# Compiled source 
# ----------------------------------------------------------------------
*.o
*.so
*.com
*.class
*.dll
*.exe

# Logs
# ----------------------------------------------------------------------
*.last

# OS specific 
# ----------------------------------------------------------------------
.*~
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
